.root{
    background-color: #F5F2F0;
}
.main{
    padding:0 0.28rem;
}
.addr_item{
    display: flex;
    height:1.6rem;
    padding:0 0.26rem;
    background-color: #fff;
    color:#6A6A6A;
    margin-bottom: 0.1rem;
    align-items: center;
    box-shadow:0px 0.07rem 0.11rem 0 rgba(241,238,237,1);
    border-radius:0.10rem;
    margin-top:0.1rem;
}
.avatar{
    width:0.72rem;
    height:0.72rem;
    line-height: 0.72rem;
    text-align: center;
    border-radius: 50%;
    background-color: #EE824D;
    font-size: 0.3rem;
    color:#fff;
    flex-shrink: 0;
}
.addr_info{
    padding:0 0.4rem 0 0.24rem;
    flex:1;
}
.addr_user{
    font-size: 0.3rem;
    color:#212121;
}
.addr_user i{
    font-style: normal;
    font-size: 0.26rem;
    color:#6A6A6A;
}
.arr_right{
    width:0.16rem;
    height:0.3rem;
    flex-shrink: 0;
    background: url("../img/arr_right.png") no-repeat;
    background-size:100%;
}
.foot{
    /*padding:0 0.28rem;*/
    text-align: center;
    margin-top:1rem;
}
.add_addr{
    display: inline-block;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #fff;
    text-align: center;
    background: linear-gradient(-90deg,rgba(255,124,106,1),rgba(252,179,93,1));
    box-shadow: 0 0.05rem 0.07rem 0 rgba(246, 82, 103, 0.35);
    border-radius: 1rem;
    font-size: 0.3rem;
}