.root{
    background-color: #DD4B2A;
    font-size: 0.22rem;
    color:#625C52;
}
header{
    height:3.8rem;
}
.music_icon{
    position: absolute;
    top:0.98rem;
    right:0.28rem;
    z-index: 999;
    display: flex;
    width:0.58rem;
    height:0.58rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:rgba(252,161,129,0.51);
}
.music_icon.on{
     background-position:0px 1px;-webkit-animation: reverseRotata 1.5s linear infinite;
}
.music_icon img{
    width:0.33rem;
    height:0.33rem;
}
@-webkit-keyframes reverseRotata{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}
.m-slider{
    height:100%;
}
.slider-pagination > .slider-pagination-item{
    background-color: #fff;
}
.slider-pagination > .slider-pagination-item.slider-pagination-item-active{
    background-color: #FBCD2C;
}
.main{
    padding:0 0.28rem 0;
}
.msg_box{
    position: relative;
    width:100%;
    height:0.6rem;
    line-height: 0.6rem;
    overflow: hidden;
    padding:0 0.3rem 0 0.75rem;
    background:#B62F11;
    border-radius:4px;
    color:#fff;
    margin-top:0.26rem;
    margin-bottom:0.26rem;
}
.msg_box ul li{
    color:#FFE9BB;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.msg_icon{
    position: absolute;
    width:0.32rem;
    height:0.27rem;
    left:0.27rem;
    top:0.15rem;
    background: url("../img/msg_icon.png") no-repeat;
    background-size: 100%;
}
.box_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0.56rem 0.24rem 0 0.6rem;
    background: url("../img/index_bg.png") no-repeat;
    background-size: 100%;
}
.box_item{
    margin-bottom:1.1rem;
}
.box_item dl{
    text-align: center;
}
.box_item dt{
    width:2.84rem;
    height:3.08rem;
    background: url("../img/box.png") no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom:0.22rem;
    text-align: center;
}
.btn{
    padding:0 0.28rem;
    height:0.42rem;
    line-height: 0.44rem;
    background:linear-gradient(0deg,rgba(246,77,22,1),rgba(253,87,15,1));
    border:0.02rem solid rgba(255, 185, 99, 1);
    border-radius:0.20rem;
    box-shadow:0 0.03rem 0 0 rgba(255,102,27,1);
    font-size: 0.24rem;
    color:#FFD67E;
    text-align: center;
}

