.root{
    background-color: #DD4B2A;
}
header{
    width:100%;
    height:4.89rem;
    padding-top:0.98rem;
    background-image:url("../img/mineback.png");
    background-size: 100%;
}
.main{
    padding:0 0.28rem 0;
}
.avatar{
    width:1.1rem;
    height:1.1rem;
    margin:0 auto;
    border-radius: 50%;
    background-color: #fff;
}
.avatar img{
    width:100%;
    height:100%;
}
.info-text{
    margin-top:-0.4rem;
}
.info-text dt{
    text-align: center;
    font-size: 0.34rem;
    color:#ffffff;
    margin-top:0.5rem;
    line-height: 0.74rem;
}
.btn-text{
    /*width: 1.8rem;*/
    width: 2.4rem;
    height:0.51rem;
    line-height: 0.5rem;
    text-align: center;
    border-radius: 0.24rem;
    padding:0 0.3rem;
    margin:0 auto;
    color:#fff;
    background:#FF8C5A;
    box-shadow:0px 0.05rem 0.07rem 0 rgba(215,73,40,1);
}
.tool{
    width:100%;
    margin-top:-0.8rem;
}
/*.tool a{*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 1.2rem;*/
    /*background:linear-gradient(90deg,rgba(254,143,77,1),rgba(255,173,86,1));*/
    /*box-shadow:0px 6px 0px 0px rgba(208,72,41,1);*/
    /*border-radius:0.24rem;*/
    /*margin-bottom: 0.26rem;*/
/*}*/
.tool-item{
    display: flex;
    align-items: center;
    width:100%;
    padding:0 0.35rem;
    margin-bottom:0.26rem;
    height:1.2rem;
    background:linear-gradient(90deg,rgba(254,143,77,1),rgba(255,173,86,1));
    box-shadow:0 0.06rem 0 0 rgba(208,72,41,1);
    border-radius:0.24rem;
}
.tool-item img{
    width:0.84rem;
    height:0.84rem;
    flex-shrink: 0;
}
.tool-item dl{
    flex:1;
    padding-left:0.26rem;
}
.tool-item dt{
    width:100%;
    font-size: 0.3rem;
    color:#fff;
}
.tool-item dd{
    width:0.9rem;
    height:0.38rem;
    line-height: 0.38rem;
    background:#F46D2A;
    border-radius:0.2rem;
    color:#fff;
    font-size: 0.24rem;
    text-align: center;
    margin-top:0.1rem;
}
.tool-item a{
    display: flex;
    align-items:center;
    justify-content: center;
    width:0.8rem;
    height:0.8rem;
    font-size: 0.20rem;
    border-radius: 50%;
    background-color: #FFF59E;
    color:#C26205;
    text-align: center;
    flex-shrink: 0;
}
