.root{
    background-color: #fff;
}
.pro_img{
    width:100%;
    height:5.3rem;
}
.pro_img img{
    width:100%;
    height:100%;
}
.pro_title{
    height:0.70rem;
    line-height: 0.7rem;
    font-size: 0.28rem;
    font-weight: bold;
    padding-left:0.24rem;
    color:#fff;
    background:linear-gradient(-90deg,rgba(255,124,106,1),rgba(252,179,93,1));
}
.main{
    padding:0.28rem 0.28rem 0 0.28rem;
}
.pro_text{
    font-size: 0.24rem;
    line-height: 0.36rem;
    color:#7F7F7F;
    margin-bottom:0.3rem;
}


